{% extends 'base.html' %}

{% block title %}
New User
{% endblock %}

{% block content %}

<h1>Register New User</h1>

<form method="POST">

    {{form.hidden_tag()}}

    {% for field in form.errors %}
    <div class="alert alert-warning">{{ field }}:
        <ul>
            {% for error in form.errors[field] %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}

    {% for field in form if field.widget.input_type != 'hidden' %}

    <div class="form-group">
        {{field.label(class="col-form-label")}}
        <div class="col-sm">
            {{field(class="form-control")}}
        </div>
    </div>

    {% endfor %}

    <button class="btn btn-primary">Register</button>
</form>

{% endblock %}